{% extends 'base.html' %}
{% load static %}

{% block body %}

    <body class="main-page">
    <header>
      {% include 'main/include/header_nav.html' %}
      <div class="container">
        <div class="row">
          <div class="col-7 page-banner-text">
            <h1><span>1</span> QR-код и<br>разные ссылки</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="promo-service">
        <div class="container">
          <div class="verify">
            <h1 class="verify__header">
              Ура, вы зарегистрированы!
            </h1>
            <p class="verify__text">
              На вашу почту было отправлено письмо для подтверждения почты, пожалуйста передите по ссылке, для подтверждения.
            </p>
            <img src="{% static 'img/man.jpg' %}" alt="" class="verify__img">
            <p class="verify__text">
              С уважением, <br> 
              Служба поддержки myqr.dev
            </p>
          </div>
        </div>
      </section>
    {% include 'main/include/footer.html' %}
    {% include 'main/include/modal.html' %}

{% endblock body %}

