{% extends 'base.html' %}
{% load static qr_code %}


{% block body %}
  <body class="lk-page">
    <header>
      {% include 'main/include/header_nav.html' %}
      <div class="container">
        <div class="row">
          <div class="col-md-3 page-banner-text">
            <h1>Личный кабинет</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="user-menu-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="user-nav col-md-4 col-xl-3 pr-md-0">
              <select id="mobileNav" class="form-select d-block d-md-none" aria-label="Navigation menu">
                <option id="selectCodeLink" data-select="selectCode" selected>Выбор QR-кода</option>
                <option id="userProfileLink" data-select="userProfile">Мои данные</option>
                <option id="qrSettingLink" data-select="qrSetting">QR-код</option>
                <option id="userSubscriptionLink" data-select="userSubscription">Ваша подписка</option>
                <option id="userSiteLink" data-select="userSite">Мой сайт</option>
              </select>
              <div class="d-none d-md-flex flex-column">
                <button class="pc-nav-item active" type="button" data-select="selectCode">Выбор QR-кода</button>
                <button class="pc-nav-item" type="button" data-select="userProfile">Мои данные</button>
                <button class="pc-nav-item" type="button" data-select="qrSetting">QR-код</button>
                <button class="pc-nav-item" type="button" data-select="userSubscription">Ваша подписка</button>
                <button class="pc-nav-item" type="button" data-select="userSite">Мой сайт</button>
              </div>
            </div>
            <div class="user-controls col-md-8 col-xl-7 pl-lg-4">
              <div class="controls-item" id="selectCode" style="display: block;">
                <p class="h2">Выбор QR-кода</p>
                <div class="row">
                  <div class="col-6 col-md-5 d-flex flex-column">
                    <button class="btn btn-light rounded-0 select" type="button"><span>QR1</span>Госуслуги</button>
                    <button class="btn btn-light rounded-0" type="button"><span>QR2</span></button>
                    <button class="btn btn-light rounded-0" type="button"><span>QR3</span></button>
                  </div>
                  <div class="col-6 col-md-5 d-flex flex-column">
                    <button class="btn btn-light-blue rounded-0 select" type="button"><span class="gos-color"></span>Госуслуги</button>
                    <button class="btn btn-light-blue rounded-0" type="button"><span class="tg-color"></span>Telegram</button>
                    <button class="btn btn-light-blue rounded-0" type="button"><span class="inst-color"></span>Instagram</button>
                  </div>
                </div>
              </div>
              <div class="controls-item" id="userProfile">
                <form class="col-lg-10 p-0" action="{% url 'change_info' %}" method="post">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6 mb-3 pr-md-3">
                      <label for="validationDefault01">Ваше имя<span>*</span></label>
                      <input type="text" class="form-control"
                             name='{{ form.first_name.html_name }}'
                             {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}
                             id="validationDefault01" disabled placeholder="Александр" required>
                    </div>
                    <div class="col-md-6 mb-3 pl-md-3">
                      <label for="validationDefault02">Фамилия<span>*</span></label>
                      <input type="text" class="form-control"
                             name='{{ form.last_name.html_name }}'
                             {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}
                             id="validationDefault02" disabled placeholder="Галицин" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3 pr-md-3">
                      <label for="validationDefault03">Отчество<span>*</span></label>
                      <input type="text" class="form-control"
                             name='{{ form.surname.html_name }}'
                             {% if form.surname.value %}value="{{ form.surname.value }}"{% endif %}
                             id="validationDefault03" disabled placeholder="Владимирович" required>
                    </div>
                    <div class="col-md-6 mb-5 pl-md-3">
                      <label for="validationDefault05">Телефон<span>*</span></label>
                      <input type="text" class="form-control"
                             name='{{ form.phone.html_name }}'
                             {% if form.phone.value %}value="{{ form.phone.value }}"{% endif %}
                             id="validationDefault05" disabled placeholder="+7 (123) 45 - 67 - 88" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <button class="btn btn-dark text-uppercase rounded-0" id="changeMyInformation" type="button">Изменить данные</button>
                    </div>
                    <!--  <div class="col-md-2 mr-md-1 ml-md-2"></div>  -->
                    <div class="col-md-6 mb-3">
                      <button class="btn btn-purple text-uppercase rounded-0" disabled id="submitButton" type="submit">сохранить</button>
                    </div>
                  </div>

                </form>
              </div>
              <div class="controls-item" id="qrSetting">
                {{ add_error }}
                <p class="subscribe-status mb-1">Ваша подписка:<span class="ml-4"> Бесплатная</span></p>
                <p class="subscribe-status-caption mb-3 mb-md-5">Доступно только {{ subscription.qr_count }} QR-код{% if subscription.qr_count > 1 %}ов{% endif %}</p>
                {% for qr in qr_codes %}
                  <div class="qr_row">
                    <p class="qr-number">QR{{ forloop.counter }}</p>
                    <p id="qrPk" style="display: none;" > {{ qr.pk }} </p>
                    <div class="card mb-3">
                      <div class="row no-gutters">
                        <div class="col-md-5 mb-3 max-w-400">
                          <img class="mb-4" src="{% qr_url_from_text qr.get_absolute_url%}" alt="...">
                          <button class="btn download-qr p-0">Скачать QR-код</button>
                        </div>
                        <div class="col-md-7 mb-3  max-w-400">
                          <div class="card-body pl-md-4 p-0">
                              <div class="row">
                                    {% for link in qr.link_list.all %}
                                      <div class="col-12 mb-3 mb-md-4">
                                        <div class="form-control rounded-0 mb-2 w-100 d-flex align-items-center">
                                          <img class="ml-1" src="
                                          {% if link.link_icon == 'telegram' %}
                                            {% static 'img/tg_color_icon.svg' %}
                                          {% elif link.link_icon == 'instagram' %}
                                            {% static 'img/inst_color_icon.svg' %}
                                          {% elif link.link_icon == 'vk' %}
                                            {% static 'img/tg_color_icon.svg' %}
                                          {% elif link.link_icon == 'facebook' %}
                                            {% static 'img/tg_color_icon.svg' %}
                                          {% elif link.link_icon == 'other' %}
                                            {% static 'img/earth_icon.svg' %}
                                          {% endif %}
                                          " alt="">
                                          <p class="w-100 text-truncate m-0 ml-3">{{ link.link }}</p>
                                          <button class="btn bi bi-x-circle pr-0 mr-n1"></button>
                                        </div>
                                      </div>
                                    {% endfor %}

  <!--                              <div class="col-12 mb-3 mb-md-4">-->
  <!--                                <div class="form-control rounded-0 mb-2 w-100 d-flex align-items-center">-->
  <!--                                  <img class="ml-1" src="{% static 'img/tg_color_icon.svg' %}" alt="">-->
  <!--                                  <p class="w-100 text-truncate m-0 ml-3">https://web.telegram.org/z/</p>-->
  <!--                                  <button class="btn bi bi-x-circle pr-0 mr-n1"></button>-->
  <!--                                </div>-->
  <!--                              </div>-->
  <!--                              <div class="col-12 mb-3 mb-md-4">-->
  <!--                                <div class="form-control rounded-0 mb-2 w-100 d-flex align-items-center select">-->
  <!--                                  <img class="ml-1" src="{% static 'img/inst_color_icon.svg' %}" alt="">-->
  <!--                                  <p class="w-100 text-truncate m-0 ml-3">https://www.instagram.com/</p>-->
  <!--                                  <button class="btn bi bi-x-circle pr-0 mr-n1"></button>-->
  <!--                                </div>-->
  <!--                              </div>-->
  <!--                              <div class="col-12 mb-3 mb-md-4">-->
  <!--                                <div class="form-control rounded-0 mb-2 w-100 d-flex align-items-center">-->
  <!--                                  <img class="ml-1" src="{% static 'img/earth_icon.svg' %}" alt="">-->
  <!--                                  <p class="w-100 text-truncate m-0 ml-3">https://www.ссылка.com/</p>-->
  <!--                                  <button class="btn bi bi-x-circle pr-0 mr-n1"></button>-->
  <!--                                </div>-->
  <!--                              </div>-->
                              </div>
                              <button  type="button" class="addLinkButton btn btn-purple text-uppercase rounded-0 mb-4 w-100" data-toggle="modal" data-target="#addUrl">+ кнопка</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                {% endfor %}
                <div class="card mb-3">
                      <div class="row no-gutters">
                        <div class="col-md-5 mb-3 max-w-400">
                          <a href="{% url 'add_qr' %}"><button type="button" class="btn btn-purple text-uppercase rounded-0 mb-4 w-100">+ QR код</button></a>
                        </div>
                        <div class="col-md-7 mb-3  max-w-400">
                          <div class="card-body pl-md-4 p-0">

                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="controls-item" id="userSubscription">
                <!--  <img class="like-hand d-none d-md-block" src="img/like_hand.png" alt="">  -->
                <p class="subscribe-status mb-4 mb-md-5">Ваша подписка:<span class="ml-4"> Бесплатная</span></p>
                <div class="card-group d-flex flex-wrap ">
                  {% for sub in subs %}
                    {% if user.subscription == sub %}
                      <div class="card">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title">{{ sub.name }}</h5>
                          <p class="mb-3"><img src="{% static 'img/smal_qr_dark.svg' %}" alt=""></p>
                          {% if sub.change_link %}
                            {% if sub.change_link_count != 0 %}
                              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность смены ссылки {{ sub.change_link_count }} раз(а) в год</p>
                            {% else %}
                              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>неограниченная смена QR-ссылки</p>
                            {% endif %}
                          {% endif %}
                          {% if sub.change_link_count != 0 %}
                            <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.support %} opacity-2 {% endif %}"></i>{{ sub.support_count }} обращений в<br>техподдержку в год</p>
                          {% else %}
                            <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.support %} opacity-2 {% endif %}"></i>Неограниченное кол-во обращений в<br>техподдержку в год</p>
                          {% endif %}
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность создавать {% if sub.qr_count > 1 %}до{% endif %} {{ sub.qr_count }} QR-код{% if sub.qr_count > 1 %}ов{% endif %}</p>

                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.discount %}opacity-2 {% endif %}"></i>{{ sub.discount_count }}% скидки на все услуги партнеров</p>
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.lock_password %} opacity-2 {% endif %}"></i>пароль блокировки страницы</p>
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.personal_site %} opacity-2 {% endif %}"></i>личная страница пользователя<br>(внутренний сайт)</p>

                        </div>
                        <div class="card-footer text-center bg-transparent border-0 p-0">
                          <p>ваш план</p>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                  {% for sub in subs %}
                    {% if user.subscription != sub %}
                      <div class="card">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title">{{ sub.name }}</h5>
                          <p class="mb-3"><img src="{% static 'img/smal_qr_dark.svg' %}" alt=""></p>
                          {% if sub.change_link %}
                            {% if sub.change_link_count != 0 %}
                              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность смены ссылки {{ sub.change_link_count }} раз(а) в год</p>
                            {% else %}
                              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>неограниченная смена QR-ссылки</p>
                            {% endif %}
                          {% endif %}
                          {% if sub.change_link_count != 0 %}
                            <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.support %} opacity-2 {% endif %}"></i>{{ sub.support_count }} обращений в<br>техподдержку в год</p>
                          {% else %}
                            <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.support %} opacity-2 {% endif %}"></i>Неограниченное кол-во обращений в<br>техподдержку в год</p>
                          {% endif %}
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность создавать {% if sub.qr_count > 1 %}до{% endif %} {{ sub.qr_count }} QR-код{% if sub.qr_count > 1 %}ов{% endif %}</p>

                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.discount %}opacity-2 {% endif %}"></i>{{ sub.discount_count }}% скидки на все услуги партнеров</p>
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.lock_password %} opacity-2 {% endif %}"></i>пароль блокировки страницы</p>
                          <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left {% if not sub.personal_site %} opacity-2 {% endif %}"></i>личная страница пользователя<br>(внутренний сайт)</p>

                        </div>
                        <div class="card-footer text-center bg-transparent border-0 p-0">
                          <button class="btn btn-purple text-uppercase rounded-0" type="button">купить план</button>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="controls-item" id="userSite">   </div>
            </div>
            <!--  <div class="col-xl-2"></div>  -->
          </div>
        </div>
      </section>
    </main>
    <section class="lk-modal-box">
      <div class="modal fade" id="logOutForm" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content rounded-0">
            <div class="modal-header pb-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body pt-0 px-md-4">
              <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Выйти?</h5>
              <form method='get' action="/logout">
                {% csrf_token %}
                <div class="row">
                  <div class="col-6 pr-2 text-center"><button type="button" class="btn btn-dark rounded-0 w-100 h-100" data-dismiss="modal" aria-label="Close">Отмена</button></div>
                  <div class="col-6 pl-2 text-center"><button type="submit" class="btn btn-purple rounded-0 w-100 h-100">Ок</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="addUrl" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content rounded-0">
            <div class="modal-header pb-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body pt-0 px-md-4">
              <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Добавление<br>ссылки</h5>
                <form action="{% url 'add_user_link' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-12 mb-2 mb-md-4">
                      <label for="{{ add_link_form.link.id_for_label }}" class="text-uppercase">URL</label>
                      <input type="text" id="{{ add_link_form.link.id_for_label }}" name="{{ add_link_form.link.html_name }}" class="form-control rounded-0" placeholder="http://example.com">
                      <input type="hidden" id="qrPk_input" name="qr_pk">
                    </div>
                    <div class="col-12 mb-2 mb-md-4">
                      <label for="{{ add_link_form.button_text.id_for_label }}">+персонализировать текст кнопки</label>
                      <input type="text" id="{{ add_link_form.button_text.id_for_label }}" name="{{ add_link_form.button_text.html_name }}" class="form-control rounded-0" placeholder="текст кнопки">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-purple rounded-0 mb-4 w-100">ГОТОВО</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'main/include/footer.html' %}
    <script>
      var dateMask = IMask(
      document.getElementById('validationDefault05'), {
        mask: '+7 (000) 000-00-00',
        lazy: true,
      });
      {% url 'add_qr' as add_qr %}
      $(document).ready(function(){
          if('{{ add_qr }}' == '{{ request.path }}'){
             $('#qrSettingLink').trigger('click');
          }
          $('.addLinkButton').on('click', function(){
            console.log('clicked')
            var pk = $(this).closest('.qr_row').find('#qrPk').text()
            $('#qrPk_input').val(pk)
          })
      })

    </script>

{% endblock body %}
