{% load static %}

{% block modal %}
<section class="modal-box">
  <div class="modal fade" id="enterForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5">
          <div class="step" id="loginForm">
            <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Войти</h5>
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="row">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <div class="col-12 mb-2 mb-md-4">
                  {{ form.username.errors }}
                  <input type="text" class="form-control text-truncate rounded-0" name="{{ form.username.html_name }}"
                    id="{{ form.username.id_for_label }}" placeholder="Адрес электронной почты или имя пользователя">
                </div>
                <div class="col-12 mb-3 mb-md-4">
                  {{ form.password.errors }}
                  <input type="password" class="form-control rounded-0" id="inputPassword"
                    name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}"
                    aria-describedby="passwordHelpInline" placeholder="Пароль">
                </div>
              </div>
              <button type="submit" class="btn btn-purple rounded-0 mb-4 w-100">войти</button>
            </form>
            <div class="d-flex flex-column text-center mb-3 mb-md-4 w-100">
              <a class="mb-60" href="{% url 'password_reset' %}">Забыли пароль?</a>
              <a class="" href="#">У вас еще нет бесплатного аккаунта?</a>
            </div>
            <button type="button" class="btn btn-purple-outline rounded-0 mb-md-4 mb-3 w-100" id="createUser">создать
              аккаунт</button>
          </div>
          <div class="step" id="validAgeForm">
            <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
            <p class="p-title text-left mb-3">Вам уже есть 18 лет?</p>
            <form action="/" id="validAge">
              <div class="row">
                <div class="col-md-6 col-lg-3 mb-3 mb-md-4">
                  <input id="Birthday" type="text" class="form-control rounded-0 h-100" placeholder="дата/месяц/гг">
                </div>
                <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                  <button type="button" disabled class="btn btn-purple text-uppercase rounded-0 w-100"
                    id="confirmAge">мне исполнилось 18 лет</button>
                </div>
                <div class="col-12 p-md-0">
                  <div class="card bg-light mb-3" id="Rights" style="max-height: 9.375rem; overflow: scroll;">
                    <p class="card-text">
                      выступлений в домашних условиях. При создании генератора мы использовали небезизвестный
                      универсальный
                      код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце,
                      что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                      По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                      некторых
                      людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на
                      русском
                      языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских
                      времен.яется
                      альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                      прочитать рыбу текст. В отличии от lorem ipsum, текст рыба
                      Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                      менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                      выступлений в домашних условиях. При создании генератора мы использовали небезизвестный
                      универсальный
                      код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце,
                      что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                      По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                      некторых
                      людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на
                      русском
                      языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских
                      времен.яется
                      альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                      прочитать рыбу текст. В отличии от lorem ipsum, текст рыба
                      Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                      менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                      выступлений в домашних условиях. При создании генератора мы использовали небезизвестный
                      универсальный
                      код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце,
                      что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                      По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                      некторых
                      людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на
                      русском
                      языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских
                      времен.яется
                      альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках
                      прочитать рыбу текст. В отличии от lorem ipsum, текст рыба
                    </p>
                    <div class="card-body">
                      Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более
                      менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                    </div>
                  </div>
                </div>
                <div class="form-group pl-3">
                  <div class="form-check">
                    <input class="form-check-input" disabled type="checkbox" value="" id="invalidCheck"
                      aria-describedby="CheckFeedback" required>
                    <label class="form-check-label" for="invalidCheck">
                      Создавая аккаунт, я принимаю условия пользования веб-сайтом, политику конфиденциальности и условия
                      лицензирования myqr.dev
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="step" id="createUserForm">
            <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
            <form method="post" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-5 mb-2 mb-md-4">
                  <input type="email" class="form-control rounded-0" name="{{ register_form.email.html_name }}"
                    id="{{ register_form.email.id_for_label }}" placeholder="Адрес электронной почты">
                </div>
                <div class="col-lg-5 mb-3 mb-md-4">
                  <input type="password" class="form-control rounded-0" id="inputPassword"
                    name="{{ register_form.password1.html_name }}" id="{{ register_form.password1.id_for_label }}"
                    aria-describedby="passwordHelpInline" placeholder="Пароль">
                </div>
                <div class="col-lg-5 mb-3 mb-md-4">
                  <button type="submit" class="btn btn-purple text-uppercase rounded-0 mb-4 w-100">Создать
                    аккаунт</button>
                </div>
                <div class="col-lg-5 mb-3 mb-md-4">
                  <input type="password" class="form-control rounded-0" id="inputPassword"
                    name="{{ register_form.password2.html_name }}" id="{{ register_form.password2.id_for_label }}"
                    aria-describedby="passwordHelpInline" placeholder="Повторите пароль">
                </div>
              </div>
            </form>
            <div class="d-flex px-1 text-left mb-3 mb-md-4 w-100">
              <a class="mr-1" href="#">У вас уже есть аккаунт?</a><button type="button" class="btn"
                id="resetStep">Войти</button>
            </div>
          </div>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>



<section class="modal-box">
  <div class="modal fade" id="verifyEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content rounded-0" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5 ">
          <div class="verify">
            <h1 class="verify__header">
              Ура, вы зарегистрированы!
            </h1>
            <p class="verify__text">
              На вашу почту было отправлено письмо для подтверждения почты, пожалуйста передите по ссылке.
            </p>
            <img src="{% static 'img/man.jpg' %}" alt="" class="verify__img">
            <a href="{% url 'login' %}" class="btn btn-purple align-self-start rounded-0 mb-4 ">
              Перейти на портал
            </a>

            <p class="verify__text">
              С уважением, <br> 
              Служба поддержки myqr.dev
            </p>
          </div>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>



<section class="modal-box">
  <div class="modal fade" id="passwordReset" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content rounded-0" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5 ">
          <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Сброс пароля</h5>
          <p class="verify__text">
              Введите почту для получения письма для сброса пароля.
          </p>
          <form method="post">
              {% csrf_token %}
              <div class=" mb-md-4">
                  <input type="email" class="form-control rounded-0" name="{{ form.email.html_name }}"
                    id="{{ form.email.id_for_label }}" placeholder="Адрес электронной почты">
                </div>
                <div class="">
                  <button type="submit" class="btn btn-purple text-uppercase rounded-0 w-100">Подтвердить</button>
                </div>
            </form>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>


<section class="modal-box">
  <div class="modal fade" id="passwordResetDone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content rounded-0" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5 ">
          <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Письмо отправлено!</h5>
          <p class="verify__text">
              Для сброса пароля перейдите по ссылке в письме и следуйте дальнейшим указаниям.
          </p>


          <p class="verify__text">
            С уважением, <br> 
            Служба поддержки myqr.dev
          </p>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>

<section class="modal-box">
  <div class="modal fade" id="passwordResetConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content rounded-0" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5 ">
          <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Смена пароля</h5>
          <form method="post">
              {% csrf_token %}
              <input hidden autocomplete="username" value="{{ form.user.get_username }}">
              <div class=" mb-md-4">
                  <input type="password" class="form-control rounded-0" name="{{ form.new_password1.html_name }}"
                    id="{{ form.new_password1.id_for_label }}" placeholder="Новый пароль">
                    {{ form.new_password1.errors }}

              </div>
              <div class=" mb-md-4">
                  <input type="password" class="form-control rounded-0" name="{{ form.new_password2.html_name }}"
                    id="{{ form.new_password2.id_for_label }}" placeholder="Повторите новый пароль">
                    {{ form.new_password2.errors }}

              </div>
              <div class="">
                <button type="submit" class="btn btn-purple text-uppercase rounded-0 w-100">Подтвердить</button>
              </div>
            </form>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>

<section class="modal-box">
  <div class="modal fade" id="passwordResetComplete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content rounded-0" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
          </button>
        </div>
        <div class="modal-body py-0 px-md-5 ">
          <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Пароль успешно сменен</h5>
          <a href="{% url 'login' %}" class="btn btn-purple align-self-start rounded-0 mb-4 ">
              Авторизоваться
          </a>


          <p class="verify__text">
            С уважением, <br> 
            Служба поддержки myqr.dev
          </p>
        </div>
        <div class="modal-footer pt-0 pb-5 px-md-5"></div>
      </div>
    </div>
  </div>
</section>


{% url 'login' as login_url %}
{% url 'verify_email' as verify_email_url %}
{% url 'password_reset' as password_reset_url %}
{% url 'password_reset_done' as password_reset_done_url %}
{% url 'password_reset_confirm'   as password_reset_confirm_url %}
{% url 'password_reset_complete' as password_reset_complete_url %}
<script>
  var dateMask = IMask(
    document.getElementById('Birthday'), {
      mask: Date,
      min: new Date(1930, 0, 1),
      max: new Date(),
      lazy: true,
    });
  $(document).ready(function () {

    if ('{{ login_url }}' == '{{ request.path }}') {
      $('#openModal').trigger('click');
    }

    if ('{{ verify_email_url }}' == '{{ request.path }}') {
      $('#verifyEmail').modal('toggle');
    }
    //http://127.0.0.1:8000/reset/MQ/b9j4h0-111099af6cb5ce186e28a9d740f78af6/

    if ('{{ password_reset_url }}' == '{{ request.path }}') {
      $('#passwordReset').modal('toggle');
    }


    if ('{{ password_reset_done_url }}' == '{{ request.path }}') {
      $('#passwordResetDone').modal('toggle');
    }
    
    if (window.location.pathname.split('/').includes('set-password') ) {
      $('#passwordResetConfirm').modal('toggle');
      
    }
    if ('{{ password_reset_complete_url }}' == '{{ request.path }}') {
      $('#passwordResetComplete').modal('toggle');
      
    }
  })




</script>
{% endblock modal %}