{% extends 'base.html' %}
{% load static %}

{% block body %}
  <body class="faq-page">
    <header>
      {% include 'main/include/header_nav.html' %}
      <div class="container">
        <div class="row">
          <div class="col-8 page-banner-text">
            <h1>Ответы<br>на вопросы</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="questions">
        <div class="container">
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
        </div>
      </section>
      <section class="subscribe">
        <div class="container">
          <h2 class="text-left text-md-center">Подписка</h2>
          <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
            <div class="row">
              <div class="col-12 mb-3 mb-md-3">
                <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
              </div>
              <div class="col-12 mb-4 mb-md-5">
                <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
              </div>
              <div class="col-12 text-center mt-md-5">
                <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    {% include 'main/include/footer.html' %}
    {% include 'main/include/modal.html' %}
{% endblock body %}


