{% extends 'base.html' %}
{% load static %}

{% block body %}
  <body class="faq-page">
    <header>
      {% include 'main/include/header_nav.html' %}
      <div class="container">
        <div class="row">
          <div class="col-8 page-banner-text">
            <h1>Ответы<br>на вопросы</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="questions">
        <div class="container">
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
          <h3 class="mb-3 mb-md-4">Выцветают ли татуировки?</h3>
          <p class="col-md-7 mb-3 mb-md-4 p-0">Конечно, рисунок на коже может светлеть, особенно это касается цветных татуировок. Происходит этот процесс в среднем спустя 5-6 лет после нанесения. Иногда тату может продержаться в прекрасном состоянии и 10 лет, ведь скорость выцветания рисунка напрямую связан с естественным обновлением кожи.</p>
          <div class="line-spliter col-12 mb-3 mb-md-4 p-0"></div>
        </div>
      </section>
      <section class="subscribe">
        <div class="container">
          <h2 class="text-left text-md-center">Подписка</h2>
          <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
            <div class="row">
              <div class="col-12 mb-3 mb-md-3">
                <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
              </div>
              <div class="col-12 mb-4 mb-md-5">
                <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
              </div>
              <div class="col-12 text-center mt-md-5">
                <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    {% include 'main/include/footer.html' %}
    <section class="modal-box">
      <div class="modal fade" id="enterForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body py-0 px-md-5">
              <div class="step" id="loginForm">
                <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Войти</h5>
                <form action="submit">
                  <div class="row">
                    <div class="col-12 mb-2 mb-md-4">
                      <input type="text" class="form-control text-truncate rounded-0" placeholder="Адрес электронной почты или имя пользователя">
                    </div>
                    <div class="col-12 mb-3 mb-md-4">
                      <input type="password" class="form-control rounded-0" id="inputPassword" aria-describedby="passwordHelpInline" placeholder="Пароль">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-purple rounded-0 mb-4 w-100">войти</button>
                </form>
                <div class="d-flex flex-column text-center mb-3 mb-md-4 w-100">
                  <a class="mb-60" href="#">Забыли пароль?</a>
                  <a class="" href="#">У вас еще нет бесплатного аккаунта?</a>
                </div>
                <button type="button" class="btn btn-purple-outline rounded-0 mb-md-4 mb-3 w-100" id="createUser">создать аккаунт</button>
              </div>
              <div class="step" id="validAgeForm">
                <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
                <p class="p-title text-left mb-3">Вам уже есть 18 лет?</p>
                <form action="/" id="validAge">
                  <div class="row">
                    <div class="col-md-6 col-lg-3 mb-3 mb-md-4">
                      <input type="text" class="form-control rounded-0 h-100" placeholder="дата/месяц/гг">
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                      <button type="button" class="btn btn-purple text-uppercase rounded-0 w-100" id="confirmAge">мне исполнилось 18 лет</button>
                    </div>
                    <div class="col-12 p-md-0">
                      <div class="card bg-light mb-3" style="max-height: 9.375rem; overflow: auto;">
                        <div class="card-body">
                          <p class="card-text">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.яется альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group pl-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" aria-describedby="CheckFeedback" required>
                        <label class="form-check-label" for="invalidCheck">
                          Создавая аккаунт, я принимаю условия пользования веб-сайтом, политику конфиденциальности и условия лицензирования myqr.dev
                        </label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="step" id="createUserForm">
                <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
                <form action="submit">
                  <div class="row">
                    <div class="col-lg-5 mb-2 mb-md-4">
                      <input type="text" class="form-control rounded-0" placeholder="Адрес электронной почты">
                    </div>
                    <div class="col-lg-5 mb-3 mb-md-4">
                      <input type="password" class="form-control rounded-0" id="inputPassword" aria-describedby="passwordHelpInline" placeholder="Пароль">
                    </div>
                    <div class="col-lg-5 mb-3 mb-md-4">
                      <button type="submit" class="btn btn-purple text-uppercase rounded-0 mb-4 w-100">Создать аккаунт</button>
                    </div>
                  </div>
                </form>
                <div class="d-flex px-1 text-left mb-3 mb-md-4 w-100">
                  <a class="mr-1" href="#">У вас уже есть аккаунт?</a><button type="button" class="btn" id="resetStep">Войти</button>
                </div>
              </div>
            </div>
            <div class="modal-footer pt-0 pb-5 px-md-5"></div>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}


