{% extends '../base.html' %}
{% load static %}


{% block body %}
  <body class="for-using-page">
<header>
  {% include 'main/include/header_nav.html' %}
  <div class="container">
    <div class="row">
      <div class="col-7 page-banner-text">
        <h1>Расширяя<br>рамки<br>реальности</h1>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="using">
    <div class="container">
      <h2 class="mb-4 mb-md-5">Где можно<br>использовать?</h2>
      <div class="txt-block">
        <p class="col-11 col-md-6 p-0">Нужный быстрый доступ к Instagram или к другой соц. странице? Или хотите оригинальное украшение (например, код будет содержать ваши личные данные -СНИЛС, группа крови и тд.)?<br>#брелки #украшения #креативныефутболки</p>
      </div>
      <div class="row mb-4 mb-md-5">
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/use_post_4.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/use_post_5.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{% static 'img/use_post_6.jpg' %}" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <div class="arrow-box text-center d-none d-md-block">
        <i class="bi bi-caret-left-fill"></i>
        <i class="bi bi-caret-right-fill"></i>
      </div>
      <div class="image-for-bg">
        <img class="d-none d-md-block" src="{% static 'img/white_hand.png' %}" alt="">
        <img class="d-block d-md-none" src="{% static 'img/white_hand_mobile.png' %}" alt="">
      </div>
    </div>
  </section>
  <section class="subscribe">
    <div class="container">
      <h2 class="text-left text-md-center">Подписка</h2>
      <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
        <div class="row">
          <div class="col-12 mb-3 mb-md-3">
            <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
          </div>
          <div class="col-12 mb-4 mb-md-5">
            <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
          </div>
          <div class="col-12 text-center mt-md-5">
            <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
{% include 'main/include/footer.html' %}
{% include 'main/include/modal.html' %}
{% endblock body %}


