{% extends '../base.html' %}
{% load static %}
{% block body %}
  <body class="for-bisnes-page">
  <header>
    {% include 'main/include/header_nav.html' %}
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-9 col-md-5 ml-md-4 page-banner-text">
          <h1>Меняйте<br>контент<br>когда хотите</h1>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="using">
      <div class="container">
        <h2 class="mb-4 mb-md-5">Где можно<br>использовать?</h2>
        <div class="txt-block">
          <p class="col-11 col-md-6 p-0">Акции, режим работы, визитные карты, билборды, сувенирная продукция, витрины – везде, где информация динамична!</p>
        </div>
        <div class="row mb-4 mb-md-5">
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/use_post_1.jpg' %}" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/use_post_2.jpg' %}" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/use_post_3.jpg' %}" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
        <div class="arrow-box text-center d-none d-md-block">
          <i class="bi bi-caret-left-fill"></i>
          <i class="bi bi-caret-right-fill"></i>
        </div>
        <div class="image-for-bg">
          <img class="d-none d-md-block" src="{% static 'img/white_hand.png' %}" alt="">
          <img class="d-block d-md-none" src="{% static 'img/white_hand_mobile.png' %}" alt="">
        </div>
      </div>
    </section>
    <section class="create-site">
      <div class="container">
        <div class="row">
          <div class="txt-block col-md-6">
            <h2 class="pb-0 pb-md-3 mb-4">Создайте<br>сайт-визитку</h2>
            <p>С  помощью личного кабинета сервиса <span>myqr.dev</span>, с лёгкостью создавайте станицу визитку
              для вашего бизнеса или меропириятия.
              Qr-код это более быстрый и простой способ направить людей на нужный сайт
              (проведение игр, визитные карточки, пропуска)
              <br><br>
              С сервисом <span>myqr.dev</span>, теперь легко и удобно создать свою страницу,
              разместив информацию о мероприятии, вебинара или продукции. Легко и удобно
              создавать меню товаров и продавать.</p>
          </div>
          <div class="image-block col-md-6">
            <img src="{% static 'img/phone_head.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="image-split p-0 m-0 d-none d-md-block"></section>
    <!--  <section class="image-split p-0 m-0 d-none d-md-block"><img src="img/create_big.jpg" alt=""></section>  -->
    <section class="subscribe">
      <div class="container">
        <h2 class="text-left text-md-center">Подписка</h2>
        <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
          <div class="row">
            <div class="col-12 mb-3 mb-md-3">
              <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
            </div>
            <div class="col-12 mb-4 mb-md-5">
              <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
            </div>
            <div class="col-12 text-center mt-md-5">
              <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <h2>Новости</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_2.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow-box text-center d-none d-md-block">
          <i class="bi bi-caret-left-fill"></i>
          <i class="bi bi-caret-right-fill"></i>
        </div>
      </div>
    </section>
  </main>
  {% include 'main/include/footer.html' %}
  {% include 'main/include/modal.html' %}
{% endblock body %}


