{% extends '../base.html' %}
{% load static %}

{% block body %}
  <body class="main-page">
  <header>
    {% include 'main/include/header_nav.html' %}
    <div class="container">
      <div class="row">
        <div class="col-6 page-banner-img d-none d-md-block">
          <img src="{% static 'img/group_4254.png' %}" alt="">
        </div>
        <div class="col-6 page-banner-text">
          <img class="d-none d-md-block" src="{% static 'img/group_4210.png' %}" alt="">
          <h1>Твой<br>личный<br>QR-код</h1>
          <small>Посещай рестораны, бары<br>и нетолько</small>
        </div>
        <div class="col-6 page-banner-img d-block d-md-none">
          <img src="{% static 'img/group_42.png' %}" alt="">
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="how-it-work">
      <div class="container">
        <div class="row">
          <div class="col-md-5 txt-block">
            <h2>Как это работает!?</h2>
            <ol>
              <li>Регистрируетесь в личном кабинете</li>
              <li>Выбираете подписку и оплачиваете</li>
              <li>Вводите данные конечной ссылки QR-кода</li>
              <li>Выбераете эскиз и изделия/<br>или скачиваете QR-код</li>
              <li>Конечную точку QR-код, вы можете поменять в любую минуту из личного кабинета</li>
            </ol>
            <span>Делитесь QR-кодом и размещайте ту информацию, которую Вы считаете нужной</span>
          </div>
          <div class="col-md-7 img-block">
            <img class="d-block d-md-none" src="{% static 'img/group_425.png' %}">
            <img class="d-none d-md-block" src="{% static 'img/group_454.png' %}">
          </div>
        </div>
      </div>
    </section>
    <section class="promo-video">
      <div class="container"></div>
    </section>
    <section class="where-used">
      <div class="container">
        <img src="{% static 'img/group_21.png' %}" alt="">
        <p class="p1">design</p>
        <p class="p2">Где можно<br>использовать</p>
      </div>
    </section>
    <section class="qr-tatu">
      <div class="container">
        <h2>QR-тату</h2>
      </div>
      <span>всегда с собой<br>и если даже<br>твой телефон<br>разряжен!</span>
      <div class="qr-tatu-mask"></div>
    </section>
    <section class="for-bisnes">
      <div class="container">
        <h2>Для малого<br>бизнеса</h2>
      </div>
      <div class="span-box">
        <p>всегда актуальная информация<br>(например, цена на меню)</p>
        <p>экономия на рекламе</p>
        <p>заставляет обратить<br>на себя внимание!</p>
      </div>
      <div class="for-bisnes-mask"></div>
    </section>
    <section class="for-using">
      <div class="container">
        <h2>Для<br>повседневного<br>пользования</h2>
      </div>
      <span>Закодируйте свой Instagram +1000 к вашему &#x2764;&#xFE0F; обаянию</span>
      <span>переходите и смотрите дальше...</span>
      <div class="for-using-mask"></div>
    </section>
    <section class="news">
      <div class="container">
        <h2>Новости</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_2.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/news_post_3.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow-box text-center d-none d-md-block">
          <i class="bi bi-caret-left-fill"></i>
          <i class="bi bi-caret-right-fill"></i>
        </div>
      </div>
    </section>
  </main>
  {% include 'main/include/footer.html' %}
  {% include 'main/include/modal.html' %}
{% endblock body %}


