{% extends 'base.html' %}
{% load static %}


{% block body %}
  <body class="qr-tatu-page">
    <header>
      {% include 'main/include/header_nav.html' %}
      <div class="container">
        <div class="row">

          <div class="col-7 page-banner-text">
            <h1><span>1</span> QR-код и<br>разные ссылки</h1>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="promo-service">
        <div class="container">
          <img class="d-none d-md-block" src="{% static 'img/rect_3.png' %}">
          <div class="row">
            <div class="col-lg-7 txt-block">
              <h2 class="pb-md-3 mb-4">С помощью<br>сервиса myqr.dev</h2>
              <div class="row">
                <div class="col-12 text-left mb-3 pb-md-3">
                  <p>Вы можете иметь временную или постоянную татуировку с изображением QR-кода.</p>
                </div>
                <div class="col-md-6">
                  <p class="p-sub">В <span>личном кабинете</span> можно менять конечные ссылки перехода – будь это твой Инстаграм, личная
                    страница или Covid-сертификат.
                    <br><br>
                    Всегда будет под рукой!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="map-header">
        <div class="container">
          <img class="d-none d-md-block" src="{% static 'img/header_map_img.svg' %}">
          <h2 class="mb-md-5">Тату-салоны</h2>
          <form class="d-none d-md-block">
            <div class="form-row">
              <div class="col-md-6">
                <input type="search" class="form-control" placeholder="Выбор города"><i class="bi bi-search"></i>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="office-map">
        <div class="container-fluid">
          <div class="row flex-md-row-reverse">
            <div class="col-md-7 map-img">
              <div class="discount d-none d-md-block">
                <p>У вас наш QR-код?<br>Значит у вас есть скидка<b> 10% </b>на любое тату!</p>
                <img src="{% static 'img/discount_image.svg' %}" alt="">
              </div>
            </div>
            <div class="office-list col-md-5 pt-3">
              <form class="d-block d-md-none mb-2">
                <div class="form-row">
                  <div class="col-md-6">
                    <input type="search" class="form-control" placeholder="Выбор города"><i class="bi bi-search"></i>
                  </div>
                </div>
              </form>
              <div class="list-box pb-4 pt-md-3">
                <div class="office-item pt-md-3">
                  <h3>Аура</h3>
                  <p class="office-services mb-2">· &nbsp; Перманентный макияж &nbsp; · &nbsp; Пирсинг &nbsp; · &nbsp; Выезд на дом</p>
                  <p class="office-address mb-2">Проспект им. Ленина, 48, Волгоград</p>
                  <span class="status">Открыто</span>
                </div>
                <div class="office-item pt-md-3">
                  <h3>Аура</h3>
                  <p class="office-services mb-2">· &nbsp; Перманентный макияж &nbsp; · &nbsp; Пирсинг &nbsp; · &nbsp; Выезд на дом</p>
                  <p class="office-address mb-2">Проспект им. Ленина, 48, Волгоград</p>
                  <span class="status">Открыто</span>
                </div>
                <div class="office-item pt-md-3">
                  <h3>Аура</h3>
                  <p class="office-services mb-2">· &nbsp; Перманентный макияж &nbsp; · &nbsp; Пирсинг &nbsp; · &nbsp; Выезд на дом</p>
                  <p class="office-address mb-2">Проспект им. Ленина, 48, Волгоград</p>
                  <span class="status">Открыто</span>
                </div>
                <div class="office-item pt-md-3">
                  <h3>Аура</h3>
                  <p class="office-services mb-2">· &nbsp; Перманентный макияж &nbsp; · &nbsp; Пирсинг &nbsp; · &nbsp; Выезд на дом</p>
                  <p class="office-address mb-2">Проспект им. Ленина, 48, Волгоград</p>
                  <span class="status">Открыто</span>
                </div>
                <div class="office-item pt-md-3">
                  <h3>Аура</h3>
                  <p class="office-services mb-2">· &nbsp; Перманентный макияж &nbsp; · &nbsp; Пирсинг &nbsp; · &nbsp; Выезд на дом</p>
                  <p class="office-address mb-2">Проспект им. Ленина, 48, Волгоград</p>
                  <span class="status">Открыто</span>
                </div>
              </div>
            </div>
            <div class="discount col-12 d-block d-md-none">
              <p>У вас наш QR-код?<br>Значит у вас есть скидка<b> 10% </b>на любое тату!</p>
              <img src="{% static 'img/discount_image.svg' %}" alt="">
            </div>
          </div>
        </div>
      </section>
      <section class="blue-split">
        <div class="container">
          <p class="split-logo text-center">myqr<span></span> dev</p></div>
          <p class="txt-block col-md-8 m-auto text-center">Татуировка — это часть<br> общей культуры планеты и не самая новая ее часть.</p>
          <p class="txt-block col-md-6 m-auto text-center">Она достаточно древняя, которая делается раз и навсегда!</p>
        </div>
      </section>
      <section class="subscribe">
        <div class="container">
          <h2 class="text-left text-md-center">Подписка</h2>
          <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
            <div class="row">
              <div class="col-12 mb-3 mb-md-3">
                <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
              </div>
              <div class="col-12 mb-4 mb-md-5">
                <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
              </div>
              <div class="col-12 text-center mt-md-5">
                <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    {% include 'main/include/footer.html' %}
    {% include 'main/include/modal.html' %}
{% endblock body %}