{% extends 'base.html' %}


{% block body %}
  <body class="subscription-page">
  <header>
    <div class="container pre-nav d-none d-md-block">
      <div class="row align-items-center">
        <div class="col-2 pl-0 py-2 text-nowrap"><a class="top-logo" href="/">myqr<span></span> dev</a></div>
        <div class="col-4 p-2 text-center"><a class="top-phone" href="tel:+78005005050">+7 800 500-50-50</a></div>
        <div class="col-3 p-2 text-center"><a class="top-mail" href="mailto:mail@info@info.com">info@info.com</a></div>
        <div class="col-3 p-2 text-nowrap text-right">
          <div class="btn-lk-form btn-purple" tabindex="0">Личный кабинет<button class="btn rounded-0" data-toggle="modal" data-target="#enterForm">Вход<i class="bi bi-arrow-right ml-2"></i></button></div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-md">
      <div class="container p-0">
        <a class="navbar-brand d-md-none" href="/">myqr<span></span> dev</a>
        <div class="icon-box d-flex align-items-center text-center">
          <button class="navbar-toggler d-block d-md-none mt-1 mr-4" type="button" data-toggle="modal" data-target="#enterForm"><span class="navbar-toggler-icon lk-icon"></span></button>
          <button class="navbar-toggler collapsed ml-2" type="button" data-toggle="collapse" data-target="#navbarsMenu" aria-controls="navbarsMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon mobile-nav"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbarsMenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link px-0" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-nowrap px-0" href="qr_tatu.html">QR-тату</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="for_bisnes.html">Для малого<br>бизнеса</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="for_using.html">Для повседневного<br>пользования</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-0" href="subscription.html">Подписка<span class="sr-only">(текущая страница)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="faq.html">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-5 page-banner-text">
          <h1>Выбери<br>свой</h1>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="subscribe-plan">
      <div class="container">
        <h2>Тарифный<br>план</h2>
        <div class="card-group">
          <div class="card">
            <img class="star d-none d-md-block" src="img/star.png" alt="">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Бесплатная<br>подписка</h5>
              <p class="mb-3"><img src="img/smal_qr.svg" alt=""></p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность смены ссылки раз в полгода</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>10% скидки на все услуги партнеров</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>пароль блокировки страницы</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>личная страница пользователя<br>(внутренний сайт)</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>возможность создавать до 5 QR-кодов</p>
              <p class="card-text d-flex align-items-center caption mt-4">5 обращений в<br>техподдержку в год</p>
            </div>
            <div class="card-footer p-0">
              <button class="btn btn-white py-4 w-100 h-100">Бесплатно</button>
            </div>
          </div>
          <div class="card mx-md-3 mt-md-n5 mb-md-5">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Платная<br>подписка 1</h5>
              <p class="mb-3"><img src="img/smal_qr.svg" alt=""></p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>неограниченная смена QR-ссылки</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>10% скидки на все услуги партнеров</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>пароль блокировки страницы</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>личная страница пользователя<br>(внутренний сайт)</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left opacity-2"></i>возможность создавать до 5 QR-кодов</p>
              <p class="card-text d-flex align-items-center caption mt-4">10% скидки на все услуги<br>патнеров</p>
            </div>
            <div class="card-footer p-0">
              <button class="btn btn-white py-4 w-100 h-100">2000 р/мес<span></span>20000 р/год</button>
            </div>
          </div>
          <div class="card">
            <img class="like-hand d-none d-md-block" src="img/like_hand.png" alt="">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Платная<br>подписка 2</h5>
              <p class="mb-3 text-uppercase text-nowrap"><img class="mr-2 mr-lg-4" src="img/smal_qr.svg" alt="">полный доступ</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>неограниченная смена QR-ссылки</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>10% скидки на все услуги партнеров</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>пароль блокировки страницы</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>личная страница пользователя<br>(внутренний сайт)</p>
              <p class="card-text d-flex align-items-center"><i class="bi bi-check-circle-fill mr-2 float-left"></i>возможность создавать до 5 QR-кодов</p>
              <p class="card-text d-flex align-items-center caption mt-4">Татуировка переводилка<br>в подарок</p>
            </div>
            <div class="card-footer p-0">
              <button class="btn btn-white py-4 w-100 h-100">2000 р/мес<span></span>20000 р/год</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <h2>Новости</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="img/news_post_1.jpg" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="img/news_post_2.jpg" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="img/news_post_3.jpg" class="card-img-top" alt="...">
              <div class="card-body pl-0">
                <h5 class="card-title">Название Название Название</h5>
                <p class="card-text">19.01.2022</p>
              </div>
            </div>
          </div>
        </div>
        <div class="arrow-box text-center d-none d-md-block">
          <i class="bi bi-caret-left-fill"></i>
          <i class="bi bi-caret-right-fill"></i>
        </div>
      </div>
    </section>
    <section class="subscribe">
      <div class="container">
        <h2 class="text-left text-md-center">Подписка</h2>
        <form class="col-md-4 m-auto px-0 px-md-4" action="submit">
          <div class="row">
            <div class="col-12 mb-3 mb-md-3">
              <input type="text" class="form-control rounded-0" placeholder="Ваше имя">
            </div>
            <div class="col-12 mb-4 mb-md-5">
              <input type="text" class="form-control rounded-0" placeholder="Ваша почта">
            </div>
            <div class="col-12 text-center mt-md-5">
              <button type="submit" class="btn btn-blue rounded-0">Быть в курсе</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-6"></div>
        <div class="col-8 col-md-6 text-md-left">
          <div class="row mb-3 mb-md-5">
            <div class="col-12 mt-n4 mt-md-0"><a class="footer-logo" href="/">myqr<span></span> dev</a></div>
            <div class="col-md-6 d-flex flex-column text-left mb-0 mb-md-4">
              <a class="footer-nav" href="/">Главная</a>
              <a class="footer-nav" href="qr_tatu.html">QR-тату</a>
              <a class="footer-nav" href="for_bisnes.html">Для малого<br>бизнеса</a>
              <a class="footer-nav" href="for_using.html">Для повседневного<br>пользования</a>
            </div>
            <div class="col-md-6 d-flex flex-column text-left mb-2 mb-md-4">
              <a class="footer-nav" href="subscription.html">Подписки</a>
              <a class="footer-nav" href="/">Контакты</a>
              <a class="footer-nav" href="faq.html">FAQ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-md-row-reverse">
        <div class="col-md-6">
          <div class="row flex-md-column-reverse">
            <div class="col-12 text-center text-md-left mb-3 mb-md-0">
              <a class="mr-3" href="#"><img src="img/fb_icon.svg" alt=""></a>
              <a class="mx-4" href="#"><img src="img/inst_icon.svg" alt=""></a>
              <a class="ml-3" href="#"><img src="img/tg_icon.svg" alt=""></a>
            </div>
            <div class="col-6 col-md-12 text-center text-md-left mb-md-4"><a class="footer-mail" href="mailto:mail@info@info.com">info@info.com</a></div>
            <div class="col-6 col-md-12 text-center text-md-left"><a class="footer-phone" href="tel:+78005005050">+7 800 500-50-50</a></div>
          </div>
        </div>
        <div class="col-md-6 text-center pt-2 pt-md-5">
          <button class="btn btn-outline-dark rounded-0 mt-md-3" type="button" data-toggle="modal" data-target="#enterForm">Личный кабинет</button>
        </div>
      </div>
    </div>
  </footer>
  <section class="modal-box">
    <div class="modal fade" id="enterForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
            </button>
          </div>
          <div class="modal-body py-0 px-md-5">
            <div class="step" id="loginForm">
              <h5 class="modal-title mb-3 mb-md-4" id="exampleModalLongTitle">Войти</h5>
              <form action="submit">
                <div class="row">
                  <div class="col-12 mb-2 mb-md-4">
                    <input type="text" class="form-control text-truncate rounded-0" placeholder="Адрес электронной почты или имя пользователя">
                  </div>
                  <div class="col-12 mb-3 mb-md-4">
                    <input type="password" class="form-control rounded-0" id="inputPassword" aria-describedby="passwordHelpInline" placeholder="Пароль">
                  </div>
                </div>
                <button type="submit" class="btn btn-purple rounded-0 mb-4 w-100">войти</button>
              </form>
              <div class="d-flex flex-column text-center mb-3 mb-md-4 w-100">
                <a class="mb-60" href="#">Забыли пароль?</a>
                <a class="" href="#">У вас еще нет бесплатного аккаунта?</a>
              </div>
              <button type="button" class="btn btn-purple-outline rounded-0 mb-md-4 mb-3 w-100" id="createUser">создать аккаунт</button>
            </div>
            <div class="step" id="validAgeForm">
              <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
              <p class="p-title text-left mb-3">Вам уже есть 18 лет?</p>
              <form action="/" id="validAge">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-3 mb-md-4">
                    <input type="text" class="form-control rounded-0 h-100" placeholder="дата/месяц/гг">
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3 mb-md-4">
                    <button type="button" class="btn btn-purple text-uppercase rounded-0 w-100" id="confirmAge">мне исполнилось 18 лет</button>
                  </div>
                  <div class="col-12 p-md-0">
                    <div class="card bg-light mb-3" style="max-height: 9.375rem; overflow: auto;">
                      <div class="card-body">
                        <p class="card-text">
                          Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.яется альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="form-group pl-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" aria-describedby="CheckFeedback" required>
                      <label class="form-check-label" for="invalidCheck">
                        Создавая аккаунт, я принимаю условия пользования веб-сайтом, политику конфиденциальности и условия лицензирования myqr.dev
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="step" id="createUserForm">
              <h5 class="modal-title mb-3 mb-md-4 pb-md-3" id="exampleModalLongTitle">Создайте аккаунт<br>бесплатно</h5>
              <form action="submit">
                <div class="row">
                  <div class="col-lg-5 mb-2 mb-md-4">
                    <input type="text" class="form-control rounded-0" placeholder="Адрес электронной почты">
                  </div>
                  <div class="col-lg-5 mb-3 mb-md-4">
                    <input type="password" class="form-control rounded-0" id="inputPassword" aria-describedby="passwordHelpInline" placeholder="Пароль">
                  </div>
                  <div class="col-lg-5 mb-3 mb-md-4">
                    <button type="submit" class="btn btn-purple text-uppercase rounded-0 mb-4 w-100">Создать аккаунт</button>
                  </div>
                </div>
              </form>
              <div class="d-flex px-1 text-left mb-3 mb-md-4 w-100">
                <a class="mr-1" href="#">У вас уже есть аккаунт?</a><button type="button" class="btn" id="resetStep">Войти</button>
              </div>
            </div>
          </div>
          <div class="modal-footer pt-0 pb-5 px-md-5"></div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  <script src="js/main.js" type="text/javascript"></script>
</body>
{% endblock body %}



