@media (min-width: 1140px) {
    #qrSetting .max-w-400 {
        max-width: 400px;
    }
}
@media (min-width: 576px) {
    .modal-box .modal-dialog:not(.modal-xl) {
        max-width: 450px;
    }
}
/*-------*/
@media (max-width: 1300px) {
    .where-used img {
        left: calc(43.5% + 210px);
    }
    .how-it-work .img-block img {
        width: 105%;
    }
}
@media (max-width: 1140px) {
    .where-used img {
        top: 43%;
        left: 0;
        width: 400px;
    }
    .where-used {
        padding: 100px 0 200px 0;
    }
    .where-used .p1 {
        left: 70%;
    }
    #selectCode .btn-light.select span {
        margin-right: 1rem;
    }
}
@media (max-width: 992px) {
    .where-used .p1 {
        font-size: 100px;
    }
    .how-it-work .img-block img {
        width: 100%;
    }
    .modal-box .modal-title {
        font-style: normal;
        font-weight: 800;
        font-size: 25px !important;
        line-height: 26px !important;
        letter-spacing: 0.03em;
    }
    .office-list .list-box {
        right: 0;
    }
    .map-img .discount img {
        right: 0;
    }
    .btn-white span {
        margin: 0 0.5rem;
    }
}
@media (max-width: 768px) {
    .page-banner-text {
        padding-top: 0px !important;
        padding-bottom: 40px !important;
    }
    .page-banner-text h1 {
        font-size: 50px;
    }
    .main-page .page-banner-text {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .qr-tatu-page .page-banner-text h1 span {
        font-size: 50px;
    }
    .promo-video {
        background-image: url(../img/video_bg_mobile.jpg);
        min-height: 400px;
    }
    .qr-tatu, .for-bisnes, .for-using {
        padding-top: 2rem;
        min-height: 400px;
    }
    .news, footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 400px;
    }
    .qr-tatu-mask, .for-bisnes-mask, .for-using-mask {
        margin-top: -2rem;
        min-height: 400px;
    }
    .qr-tatu span {
        right: 10%;
    }
    .for-bisnes .span-box {
        left: 60%;
        top: 67%;
    }
    .span-box p {
        margin-bottom: 28px;
    }
    .lk-page header {
        background-image: none;
        background-color: #333333;
    }
    .pc-nav-item, .pc-nav-item.active {
        font-size: 18px;
        line-height: 22px;
    }
    #selectCode button {
        margin-bottom: 0.5rem;
        padding: 12px 20px;
    }
    #selectCode .btn-light {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
    .btn-light-blue {
        font-size: 12px;
        line-height: 15px;
    }
    #selectCode .gos-color, #selectCode .tg-color, #selectCode .inst-color {
        width: 23px;
        height: 23px;
        left: 13px;
        top: 12px;
    }
    .map-header img {
        top: 20%;
        right: 10%;
    }
    .subscribe-plan h2 {
        margin-bottom: 2.5rem;
    }
    .subscribe-plan .card-body {
        padding: 2.5rem 1.5rem;
    }
}
  /* >> before 767px << */
@media (max-width: 767px) {
    .page-banner-text h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 25px !important;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .page-banner-img img {
        bottom: 0;
        left: auto;
        right: 0;
        width: auto;
    }
    .main-page .page-banner-text small {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    .how-it-work .txt-block {
        padding-top: 26px;
        padding-bottom: 100px;
    }
    .how-it-work .txt-block h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .how-it-work .txt-block ol {
        padding-top: 2rem;
        margin-bottom: 0;
    }
    .how-it-work .txt-block li {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        padding: 0 0 1.125rem 0;
    }
    .how-it-work .txt-block span{
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #E5E5E5;
    }
    .how-it-work .img-block img {
        bottom: 37px;
    }
    .where-used {
        padding: 30px 0 145px 0;
    }
    .where-used .p2{
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }
    .where-used .p1{
        left: 65%;
        top: 42%;
        font-style: normal;
        font-weight: 900;
        font-size: 54.521px;
        line-height: 55px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        transform: translate(-50%, -50%) rotate(0.72deg);
    }
    .where-used img {
        width: 234px;
    }
    .qr-tatu {
        background-image: url(../img/qr_tatu_bg_mobile.jpg);
    }
    .qr-tatu-mask {
        background-image: url(../img/qr_tatu_mask_mobile.jpg);
    }
    .qr-tatu h2, .for-bisnes h2, .for-using h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .qr-tatu h2::after {
        top: 0;
        bottom: 12px;
        left: -2px;
        right: -4px;
    }
    .for-bisnes h2::after {
        top: 16px;
        bottom: 12px;
        left: 0px;
        right: -2px;
    }
    .for-bisnes .span-box {
        width: 215px;
    }
    .span-box p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .for-using {
        background-image: url(../img/for_using_bg_mobile.jpg);
    }
    .for-using-mask {
        background-image: url(../img/for_using_mask_mobile.jpg);
    }
    .for-using h2::after {
        top: 16px;
    bottom: 13px;
    left: 0;
    right: 8px;
    }
    .for-using span {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        width: 125px;
        top: 62%;
        left: 60%;
    }
    .for-using span:nth-of-type(2) {
        top: 82%;
        left: 60%;
    }
    .news h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 1.5rem !important;
    }
    .news .card-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    footer .footer-logo {
        font-weight: 900;
        font-size: 19.4666px;
        line-height: 58px;
        letter-spacing: 0.03em;
        text-transform: lowercase;
        color: #000000;
    }
    footer .footer-nav {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        padding-bottom: 0.5rem;
    }
    footer .footer-phone, footer .footer-mail {
        font-size: 14px;
    }
    .qr-tatu-page .page-banner-text h1 span {
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .qr-tatu-page .promo-service {
        background-image: url(../img/promo_service_bg_mobile.jpg);
    }
    .qr-tatu-page .promo-service img {
        display: none;
    }
    .qr-tatu-page h2, .for-bisnes-page h2, .for-using-page h2, .subscription-page h2, .faq-page h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .promo-service .txt-block {
        padding-top: 1.5rem;
        padding-bottom: 300px;
    }
    .promo-service .txt-block p, .txt-block p.p-sub, .using .txt-block p, .create-site .txt-block p {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    .map-header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .map-img {
        background-image: url(../img/map_img_mobile.jpg);
        min-height: 200px;
    }
/*
    .office-map .office-list {
        max-height: 450px;  
    }
*/    
    .office-list .list-box {
        position: relative;
        height: 450px;
    }
    .office-item .office-services {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    .office-item .office-address {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }
    .blue-split .txt-block {
        font-size: 20px;
        line-height: 25px;
    }
    .subscribe {
        background-position: left center;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .subscribe h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .for-bisnes-page .using, .for-bisnes-page .create-site, .for-using-page .using, .subscription-page .subscribe-plan, .faq-page .questions {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .create-site .txt-block {
        padding-top: 0;
        padding-bottom: 0;
    }
    .using .txt-block {
        margin-bottom: 1rem;
    }
    .using .image-for-bg img {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }
    .create-site .image-block img{
        position: relative;
        z-index: 1;
        width: 100%;
        top: 0;
    }
    #selectCode .gos-color, #selectCode .tg-color, #selectCode .inst-color {
        width: 16px;
        height: 16px;
    }
    .user-nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .user-controls {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    #selectCode button {
        padding: 12px 6px;
        text-align: center !important;
    }
    #selectCode .btn-light.select span {
        margin-right: 0.5rem;
    }
    .btn-light-blue {
        font-size: 12px !important;
        line-height: 15px !important;
    }
    .gos-color {
        background-image: url(../img/gos_uslugi_icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 13px;
        top: 12px;
    }
    .tg-color {
        background-image: url(../img/tg_color_icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 13px;
        top: 12px;
    }
    .inst-color {
        background-image: url(../img/inst_color_icon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 13px;
        top: 12px;
    }
    #userProfile .btn, #userSubscription .btn {
        width: 100%;
        height: 100%;
    }
    #userSubscription .subscribe-status {
        font-size: 14px;
        line-height: 17px;
    }
    .subscribe-status span {
        font-size: 25px;
        line-height: 30px;
    }
}
